body {
    background: #f7f8f9;
    color: #222;
}

.inner {
    max-width: 1290px;
    margin: 0 auto;
}

/* 
@media (max-width:1200px) {

    .inner {
        max-width: 800px;
        margin: 0 auto;
    }
} */

.highlight {
    background: rgba(221, 221, 221, 0.5);
    font-weight: 600;
    padding: 0 3px;
}